.buy-form-total {
  font-size: 16px;
  padding-right: 47px;
  line-height: 20px;
  padding-top: 28px;
  span {
    font-size: 20px;
    font-weight: 500;
  }
}

.buy-form-actions {
  display: flex;
  justify-content: space-between;
}