[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}


.transform-180 {
  transform: rotate(180deg);
}

.transform-270 {
  transform: rotate(270deg);
}

.center-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.transform-180 {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &.transform-270 {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}
