.search-widget {
  background-color: #fff;
  padding-top: 21px;
  padding-bottom: 24px;
}

.search-result {
  color: #333 !important;

  .card-title {
    color: #4c4c4c;
  }

  &:hover {
    background-color: #fafafa;
  }
}

.search-group-result {
  padding-top: 43px;
  margin-bottom: 20px;

  h2 {
    margin-bottom: 19px;
  }
  .product-inline {
    .description {
      max-width: 1079px;
    }
  }
}